# Created by .ignore support plugin (hsz.mobi)
Будет удалено .gitignore
Будет удалено .idea/.gitignore
Будет удалено .idea/inspectionProfiles/
Будет удалено .idea/misc.xml
Будет удалено .idea/modules.xml
Будет удалено .idea/parser_everymac.iml
Будет удалено .idea/vcs.xml
Будет удалено Pipfile.lock
